<section>
    <div class="col-md-12">
        <div class="gy3 card z-depth-5">
            <!-- Form contact -->
            <form class="p-5">
                <div class="white-text">
                    <h3 class="h3-responsive text-center mb-4 ts">Drop us a one-liner and lets discuss your needs...</h3>

                    <div class="md-form">
                        <i class="fa fa-user prefix "></i>
                        <input (focus)="hidelabel($event)" type="text" id="form3" class="form-control">
                        <label class="ts" for="form3"><span>Your name</span></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix "></i>
                        <input (focus)="hidelabel($event)" type="text" id="form2" class="form-control">
                        <label  class="ts" for="form2"><span>Your email</span></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix "></i>
                        <input (focus)="hidelabel($event)" type="text" id="form32" class="form-control">
                        <label class="ts" for="form34"><span>How can we help?</span></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix "></i>
                        <input (focus)="hidelabel($event)" type="text" id="form8" class="form-control md-textarea">
                        <label class="ts" for="form8"><span>What do you have in mind?</span></label>
                    </div>

                    <div class="text-center">
                        <button class="btn gx3 ts waves-light">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </div>
            </form>
            
            <!-- Form contact -->
        </div>
    </div>
</section>